@font-face {
  font-family: gorditaBold;
  src: url(./assets/fonts/Gordita-Bold.otf);
}
@font-face {
  font-family: barlow;
  src: url(./assets/fonts/barlow.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.setting-img {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 490px) {
  .setting-img {
    width: 400px;
    height: 400px;
  }
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-image: url(./assets/images/bg2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 50px;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo > img {
  width: 80px;
  height: 65px;
}
.logo > p {
  font-family: gorditaBold;
  font-size: 30px;
  color: #005d72;
}

.content-1 {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bigText {
  font-family: gorditaBold;
  font-size: 50px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #005d72;
  margin-bottom: 20px;
}
.bigText2 {
  font-family: gorditaBold;
  font-size: 25px;
  margin-bottom: 20px;
  color: #65676b8f;
}
.page-btn {
  border-radius: 25px;
  font-family: barlow;
  color: white;
  background-color: #005d72;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: center;
  max-width: 250px;
  font-weight: 600;
}

@media screen and (max-width: 490px) {
  .wrap {
    padding: 15px;
  }

  .logo {
    top: 15px;
    left: 15px;
  }

  .content-1 {
    min-width: 70%;
  }
  .bigText2 {
    font-family: barlow;
    font-size: 25px;
    font-weight: 600;
  }
  .setting-img {
    width: 300px;
    height: 300px;
  }
  .page-btn {
    max-width: 200px;
    font-size: 13px;
  }
}

@media screen and (max-width: 325px) {
  .page-btn {
    font-size: 12px;
    max-width: 150px;
  }
  .bigText {
    font-size: 30px;
    margin-bottom: 1px;
  }
  .bigText2 {
    font-size: 15px;
    margin-bottom: 1px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the rotation animation to the SVG element */
.rotating {
  animation: rotate infinite 5s linear; /* Adjust the duration and timing function as needed */
}
